* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
}

.option {
    list-style: none;
    display: flex;
    gap: 30px;
}

.option li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.early-btn {
    justify-content: center;
    justify-items: center;
    height: 44px;
    width: 164px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    cursor: pointer;
}


.banner {
    background: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
    width: cover;
    height: 550px;
    justify-content: center;
    justify-items: center;
}

.hero-content {
    text-align: center;
}

.top-btn {
    display: flex;
    justify-content: center;
}


.early-access-btn {
    justify-content: center;
    align-items: center;
    width: 229px;
    display: flex;
    color: #469165;
    padding: 8px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    gap: 10px;
}

.hero-content h1 {
    font-size: 72px;
    margin-bottom: 16px;
}

.green-heading {
    color: #469165;
}

p {
    max-width: 800px;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 32px;
}



.vault-btn {
    background-color: #469165;
    color: #FFFFFF;
    padding: 14px 28px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.working-btn {
    background: transparent;
    color: #FFFFFF;
    border: 1px solid white;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.active-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 20px;

}

.half-way {
    text-align: center;
}

.note {
    font: bold;
    font-size: 40px;
    font-style: bold;
    font-weight: 700;
    margin-top: 30px;
    color: #001931;

}

.pera {
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #001931;
}

.new-note {
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 24px;
    margin-top: 44px;
}

.box-card {
    box-shadow: 0px 0px 8px 0px #0000000F;
}

.scat {
    text-align: center;
    width: 300px;
    border-radius: 8px;
    padding: 24px;
    gap: 16px;
    color: #001931;
    font-size: 24px;
}

.box-card {
    padding: 40px;
}

.card {
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 50px;
}

.vector {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    padding: 8px;
    margin: 0 auto;
}

.parallel {
    margin-top: 120px;
    margin-left: 120px;
    display: flex;
    gap: 70px;
}

.text {
    margin-top: 150px;
}

.green-text {
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
}

.hd {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

.article {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.point-head {
    padding-top: 10px;
}

.point {
    display: flex;
    align-items: center;
    text-align: left;
    padding-top: 3px;
    font-weight: 500;
    font-size: 16px;
    gap: 4px;
}

.challange {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 120px 40px 120px;
    height: 384px;
    border-radius: 12px;
    background-color: #F7F6F2;
}

.ch1 {

    padding-top: 100px;
}

.ch2 {
    padding-top: 4px;
    font-size: 16px;
    font-weight: 400;
}

.ch3 {
    padding-top: 2px;
    font-size: 16px;
    font-weight: 400;
}

.ch4 {
    padding-top: 10px;
}

.ch5 {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
    background-color: #627382;
}

.back {
    background: #001931;
    height: 300px;
    justify-content: center;
}

.footer-upper {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

}

.icons {
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.links {
    padding: 0px 10px;
}

.line {
    /* padding-top: 20px; */
    color: #E5E7EB;
    opacity: 20%;
}

.footer-lower {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 10px;
}

.early-btn:hover,
.early-access-btn:hover, 
.top-btn:hover,
.vault-btn:hover,
.working-btn:hover

{
    
    opacity: 0.7;
    transition: all 0.3s ease;
    scale: 1.1;

}